body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #262626;
    color: white;
}

.test-form {
    display: flex;
    flex-direction: column;
}